<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
  <% if current_user %>
    <div class="col-sm-8"> 
    <dl class="dl-horizontal">
      <h2>Write a review:</h2>
      <%= form_for ([@product, @review]) do |f|%>
        <dt>Description:</dt>
        <dd><%= f.text_field :description %></dd>
        <dt>Rating:</dt>
        <dd><%= f.select :rating, options_for_select([1, 2, 3, 4, 5]) %></dd>
        <dd><%= f.submit "Submit" %></dd>
      <% end %>
      </dl>
    </div>
  <% end %>

      <% @reviews.each do |r| %>
        <div class="col-sm-8">
          <dl class="dl-horizontal">
            <dt>Rating</dt>
            <dd><%= r.rating %></dd>
            <dt>Description</dt>
            <dd><%= r.description %></dd>
            <% if r.user_id == current_user[:id] %>
            <%= button_to 'Delete my review', [@product, r],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
            <%end%>
          </dl>
        </div>
        <%end%>


    </div>

  </article>

</section>
